---
import HeroContent from "@common/HeroContent.astro";
---

<section class="min-h-screen bg-linear-to-b/oklch from-gray-800 via-black to-gray-800">
  <div class="mx-auto max-w-[85rem] space-y-8 px-4 pb-12 pt-42 sm:px-6 lg:px-8">

    {/* Hero Content */}
    <HeroContent />

  </div>
</section>
