---
import HeroContent from "@common/HeroContent.astro";
---

<section class="bg-linear-to-b/oklch from-[#585858] via-[#1C1C1C] to-[#585858]">
  <div class="mx-auto max-w-[85rem] space-y-8 px-4 pb-12 pt-42 sm:px-6 lg:px-8">

    {/* Hero Content */}
    <HeroContent />

  </div>
</section>
